<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="certipower.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.5.2" />
    <trust level="Full"/>
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <authorization>
      <allow users="*" />
    </authorization>
    <customErrors mode="Off" />
    <authentication mode="None" />
   
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ScriptHandlerFactory"
           verb="*" path="*.asmx"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           resourceType="Unspecified" />
    </handlers>
  </system.webServer>
  <system.codedom>
  
  </system.codedom>
  <connectionStrings>
    <remove name="LocalSqlServer" />
  </connectionStrings>
  <applicationSettings>
    <certipower.My.MySettings>
      <setting name="connstring" serializeAs="String">
        <value>Data Source=188.121.44.212;Database=certipower;Integrated Security=False;User ID=cobol1962;Password=150620071010;Connect Timeout=15;Encrypt=False;Packet Size=4096</value>
      </setting>
    </certipower.My.MySettings>
  </applicationSettings>
</configuration>